body {
    background-color: rgb(89, 95, 95);

}
h1{     margin-left: 210px;}
form {
    color: rgb(26 23 20);
    background-color: beige;
width: 600px;
 margin: 162px auto;
 padding: 20px 80px;
 border-radius: 10px;
}
label {
    display: block;
}
label{ 
    padding: 0.7rem;
    /* margin-left: 7rem; */
    margin-bottom: 6px;
}

Developer {
    display: inline;
}

#name, #Email, #password, #job {
    border: none;
    background-image: linear-gradient(180deg red green);
    width: 100%;
    font-size: 22px;
    color: rgb(0, 0, 0);
    margin-bottom: 19px;

}
button {
    width: 100%;
    padding: 15px;
    /* margin-top: 10px; */
    background-color: rgb(60, 207, 60);
    border-radius: 10px;
    font-size: 19px;
    color: beige;
    margin-bottom: 14px;
}
button:hover{
    background-color: rgb(102, 235, 102);
    color: black;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}
#login{
  
text-decoration: none;

text-align: center;
}
a{ 
    text-decoration: none;
    font-size: 17px;
    padding-left: 8px;
}